*{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}
.bigger{
    width: 1515px;
    margin:0px auto;
    position: relative;
}
/* 返回顶部 */
.fixed{
    width: 60px;    
    position: fixed;
   bottom: 100px;
   right: 20px;

}
.fixed .fa{
    font-size: 80px;
    color: #9F9C92;
}
.sf{
    color:aquamarine;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 10px;
    
}
.big3{
    width: 100%;
      background:#F7F7F7;
      overflow: hidden;
     
}
.sobig{
    width: 1300px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;

}

.shou{
    width:1000px;
    height:50px;
    float: left;
    line-height: 50px;
    color:#9EA9A5;
    overflow: hidden;
}
.tou1{
    width:1000px;
    height: 150px;
    border-bottom: 1px solid #E3E3E3;
    float: left;
    background: #fff;
    overflow: hidden;
}
.six{
    font-weight: 400;
    margin: 20px;
    overflow: hidden;
}
.mingzi{
    width: 1000px;
    height:40px;
    overflow: hidden;
}
.susu{
    float: left;
    margin: 20px;
    color: #A1A8B4;
    overflow: hidden;
}
.shijian{
    float: right;
    margin: 20px;
    color: #A1A8B4;
    overflow: hidden;
}
.gangbi{
    width: 1000px;
    background:  #FFFFFF;
    float: left;
      overflow: hidden;
}
.gangbi1{
    margin: 20px;
    font-size: 16px;
  overflow: hidden;
  
   
}
.gangbitu{
    width: 100%;
   overflow: hidden;
}
.wen4{
    width: 1000px;
    float: left;
   background:  #FFFFFF;
    overflow: hidden;
}
.wendong{
     margin: 20px;
     overflow: hidden;
}
.xuan{
    text-align: center;
    overflow: hidden;
}
.tutu2{
    width:1000px;
    float: left;
    overflow: hidden;

}
.bidai{
    width: 1000px;
    overflow: hidden;
}
.wendong1{
    color: #9CA2AF;
    overflow: hidden;
}
.xiaobig{
    width: 270px;
    height: 100px;
    float: right;
    position: absolute;
    right: 0;
    top: 50px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}
.fenxianga{
     width: 270px;
  margin-left: 30px;
  overflow: hidden;
  display: none;
}
.aixin{
    width: 135px;
    height:100px;
    text-align: center;
  position: relative;
    float: left;
    
}
.xinxinx{
  margin-top: 23px;
}
.xinxinx1{
  margin-top: 29px;
}
.xinaa{
    position: absolute;
    top: 22px;
    left: 54px;
    display: none;
}
.fenxiang{
     width: 132px;
    height:100px;
    text-align: center;
    position: relative;
    float: right;
    right: 10px;
    border-left: 1px solid #EBEBEB;
    
}
.xinbb{
    position: absolute;
    top:29px;
    left:55px;
    display: none;
}
.like1{
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 40px;
}
.like2{
    left: 50px;
}
