*{
    margin: 0;
    padding: 0;
}
.bigger{
    width: 1515px;
    margin:0px auto;
    position: relative;
}
/* 返回顶部 */
.fixed{
    width: 60px;    
    position: fixed;
   bottom: 100px;
   right: 20px;

}
.fixed .fa{
    font-size: 80px;
    color: #9F9C92;
}
.sf{
    color:aquamarine;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 10px;
    
}
/* 状态栏 */
.bigw{
    border: 1px solid #ccc;
    border-top: 1px;
    /* width: 100%; */
    margin-top: 10px;    
}
.big{
    width: 80%;    
    margin:auto;    
    position: relative;
    margin-bottom: 10px;
    
}
a{
    text-decoration: none;
}
.jiguo>img{
    width: 100px;
    
}
.big>.jiguo{
    display: inline-block;
    margin-left: 0px;
}
.first{
    display: inline-block;
    margin-left: 40px;
}
.first:hover{
    color: orangered;    
}
.big>.right{
    position: absolute;
    right:0px;
    top: 20px;
}
.big>.right>a{
    display: inline-block;
    margin-left: 40px;    
}
.big>.right>a:hover{
    color: orangered;  
}
.big>.right>button{
    margin-left: 40px; 
    color:orangered;
    border: 1px orangered solid;
    font-size: 12px;
    width: 40px;
    border-radius: 4px;
}
/* 第一个big--铺满 */
.puman{
    background:url(../img/original.jpg) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 250px;
}
.bntred{
    width: 200px;
    height: 30px;
    background-color: red;
    color: #fff;
    border: 1px;
}
.psmall>li{
    margin-top: 15px;
    text-align: right;
}
.sbu{
    background-color: #F7D394;
    font-size: 12px;    
}
.psmall{
    color: #fff;
    width: 200px;
    list-style: none;
    position: absolute;
    top:20px;
    right: 250px;
    animation:move 2s;
}
@keyframes move {
    0%{
        transform: translate(200px,-200px);
    }
}
/* 轮播图 */



/* 尾部css */
.clear{
    clear:both;
}  
.wei {
    width: 100%;
    height: 280px;
    margin-top: 15px;
    background-color: #505050;            
}

.big1 {
    width: 100%;
    height: 280px;
    margin: 0px auto;

    
}
.big2{
    width: 1050px;
    margin: 0px auto;
}
.erweima {
    width: 150px;
    height: 150px;           
    float: left;
    overflow: hidden;
    margin-top: 20px;
    margin-left:30px;
}

.quan {
    width: 132px;
    margin-left:30px;
    float: left;
    overflow: hidden;
    
    margin-top: 20px;
}

li {
    list-style: none;
    font-size: 12px;
    color: #9F9C92;

}

ul {
    float: left;
    margin-top: 20px;
    margin-left:30px;
    
}

.img1 {
    width: 150px;
    height: 150px;

}

.img2 {

    width: 130px;
    height: 46px;
    margin-bottom: 16px;
}

.wenzi1 {
    font-size: 12px;
    margin-top: 10px;
    color: #9F9C92;
}

.title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}
.clear{
    clear: both;
}
a {
    text-decoration: none;
    color: #9F9C92;
    display: inline-block;
}
.suo{
    text-align: center;
    margin-top: 60px;
    font-size: 12px;
}
a:hover{
    color:green;
    
}