*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.da{
    width: 100%;
    margin: 0px auto;
    background:#F7F7F7;;
}
.zhong{
    width: 1300px;
    margin: 0px auto;
    overflow: hidden;
   
}
.xiao{
    width: 900px;
     overflow: hidden;
     float: left;
}
.waibao{
    width: 900px;
    border: 1px solid #EAEAEA;
    border-radius: 15px;

    height: 531px;
    float: left;
    overflow: hidden;
    position: relative;
}
.waibao1{
    margin-top: 20px;
}
.tijiantu{
    width: 100%;
}
.wenzizi{
    width: 900px;
    height:130px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255,255,255,0.8);
}
.p1{
    font-size: 18px;
    margin:20px;
}
.div2{
    width: 60px;
    height: 60px;
   
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.tututu1{
width: 60px;
height: 60px;
}
.div1{
    margin: 20px;
}
.div3{
    float: left;
    margin: 20px;
    font-size: 16px;
    color: #F86158;
    overflow: hidden;
}
.span1{
    color:#BEB0B5;
    margin-left: 20px;
}
.div4{
    float: right;
     color:#BEB0B5;
    margin:20px;
    overflow: hidden;
}
.div5{
    width: 900px;
    height: 50px;
    line-height: 50px;
    color:#A79FA5 ;
    text-align: center;
    float: left;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    overflow: hidden;
    margin:10px 0px;
}

.div6{
    width:360px;
    float: right;   
    overflow: hidden;
}
.divup1{
    width:360px;
    height:50px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    margin-top: 20px;
    border-left: 5px solid #FD5344;
}
.divup2{
    margin-top: 30px;
}
.divup3{
    margin-top: 20px;
}
.tututu2{
    width:360px;
}
.p2{

    font-size: 17px;
    color: #9FA0A3;
    margin-top: 10px;
}
.p3{
    font-size: 17px;
    color: #9FA0A3;
}
.divup4{
    margin-top: 60px;
}
.tututu3{
    width: 360px;
}
.divup5{
    margin-top: 20px;
}

.waibao3{
    display: none;
    margin-top: 10px;
}
.div8{
    display: none;
}
.tijiantu11{
    height:530px;
}

